.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2%;
}

h1{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom:52px;
    font-size:2.62rem;
    font-weight: 900;
    color:var(--text-color2);
}

h2{
    font-size: 1.60rem;
    font-style: normal;
    font-weight: 900;
    line-height: 132.316%; 
    margin-bottom: 10px;
    color:var(--text-color2);
}

#texto{
    grid-column-start: 3;
    align-self:center;
    padding-right: 20px;
    padding-top:30px;
    border-top: 1px dashed var(--text-color2);
    border-bottom: 1px dashed var(--text-color2);
    color:var(--text-color2);
}

#texto p{
    font-size: 1.20rem;
    margin-bottom:36px;
    line-height: 136.3%; 
}

#img-card{
    grid-column-start: 1;
    width:auto;
}

/*nav bar*/
nav{
    background-color: var(--nav_bar);
    padding:1% 3%;
    color:var(--text-color);
    display:flex;
    align-items:center;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    top: 0;
}

#logo{
    display:flex;
    align-items: center;
    width:100px;
    gap:10px;
}

#logotipo{
   font-size:1.20rem;
   line-height:1.3rem;
}

ul{ /*unorderded list nav bar*/
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: end;
}

ul button{
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
    display:flex;
    align-items: center; 
    text-align: left;
    gap: 8px;
    padding:5px 3px;
    opacity:0.9;
    flex-grow: 10;
}

ul button:hover{
    border-bottom: 2.5px solid var(--text-color);
    border-top: 2.5px solid transparent;
    opacity: 1;
}


.icon{
   max-width:20px;
}

button span{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    color: var(--text-color)
}

#open-menu, #close-menu{
    width:40px;
    padding:10px 0px;
}

.scroll-container {
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*@media screen and (max-width: 1376px) {

}*/


/* Small devices (portrait tablets and large phones, 600px and up) */
/*MOBILE*/
@media only screen and (max-width: 768px){
    /*COntent*/
    .container{
        grid-template-columns: 1fr;
    }
    
    #texto{
        grid-column-start: 1;
        align-self:center;
    }
    
    
    #texto p{
        font-size: 1.20rem;
        margin-bottom:36px;
        line-height: 136.3%; 
    }
    
    #img-card{
        grid-column-start: 1;
        width:100%;
        margin-bottom:50px;
    }

    /*nav bar*/
    #logotipo{
        display:none;
    }

    nav{
        display:block;
        
    }

    .mobile-header button{
        background:none;
        color: inherit;
        border: none;
        cursor: pointer;
    }

    .menu-icon button:hover{
        border: none;
    }

    .scroll-container {
        height: auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:992px) {
    ul { /*unorderded list nav bar*/
        gap: 20px;
    }
    #logotipo{
        display:none;
    }
    nav{
        display:flex;
    }

    .container{
        grid-template-columns: 1fr;
        column-gap: 2%;
    }
    #texto{
        grid-column-start: 1;
        align-self:center;
    }
    
    
    #texto p{
        font-size: 1.20rem;
        margin-bottom:36px;
        line-height: 136.3%; 
    }
    
    #img-card{
        grid-column-start: 1;
        width:100%;
        margin-bottom:50px;
    }

    .scroll-container {
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width: 1200px) {
    ul { /*unorderded list nav bar*/
        gap: 50px;
    }
    #logotipo{
        display:inline;
    }
    nav{
        display:flex;
    }

    .container{
        grid-template-columns: 1fr;
        column-gap: 2%;
    }
    #texto{
        grid-column-start: 1;
        align-self:center;
    }
    
    
    #texto p{
        font-size: 1.20rem;
        margin-bottom:36px;
        line-height: 136.3%; 
    }
    
    #img-card{
        grid-column-start: 1;
        width:100%;
        margin-bottom:50px;
    }

    .scroll-container {
        height: auto;
    }
}
