/*css geral
-- Grelha
-- variáveis
-- responsividade
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    --blue: #002A3B;
    --branco: white;
    list-style:none;
}
  
  main{
    margin:3% 10%;
  }

  