/*css geral
-- Grelha
-- variáveis
-- responsividade
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    --blue: #002A3B;
    --branco: white;
    list-style:none;
}
  
  main{
    margin:0 10% 3% 10%;
    padding-top:150px;
  }

  footer{
    margin-top:100px;
    margin-bottom:100px;
    text-align: center;
  }

  footer a{
    background-color:var(--blue);
    padding: 5px 10px;
    border-radius:5px;
    font-size: 1.2rem;
  }